.part2{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}

.part2 .part2img{
    position: relative;
}

.supplement{
    position: absolute;
    top:55%;
    left:35%;
    color: #FFFFFF;
    font-size: 34px;
    line-height: 43px;
}
.ingredients{
    position: absolute;
    top:65%;
    left:33%;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
}
.discover{
    position: absolute;
    bottom:5%;
    left:25%;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
}
.buy{
    position: absolute;
    bottom:5%;
    right:25%;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
}